:root {
  --cerulean-color: #007EA7;
  --light-blue-color: #00A8E8;
  --prussian-blue-color: #003459;
  --black-color: #00171F;
  --white-color: #FFF;

  --br: 5px;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: var(--white-color)
}
.link {
  text-decoration: none;
}
.nav {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.nav-links, .profile-links {
  display: flex;
  justify-content: space-between;
}
.nav-links > div, .profile-links > div {
  margin-right: 30px;
}
.nav-links > div > a {
  text-decoration: none;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.summary-list-btns-container {
  border: 1px solid var(--black-color);
  border-radius: var(--br);
  max-width: 400px;
  margin: 0 auto;
}
.summary-list-container {
  padding: 10px;
}
.summary-container {
  border: 1px solid var(--black-color);
  border-radius: var(--br);
  max-width: 400px;
  margin: 0 auto;
}
.summary-container:not(:first-child) {
  margin-top: 10px;
}
.btn {
  width: 50%;
  height: 50px;
  color: var(--prussian-blue-color);
  background: var(--white-color);
  font-weight: bold;
  border: 0;
  font-size: 13px;
}
.btn-unanswer {
  border-bottom: 1px solid var(--black-color);
  border-right: 1px solid var(--black-color);
  border-top-left-radius: var(--br);
}
.btn-answer {
  border-bottom: 1px solid var(--black-color);
  border-top-right-radius: var(--br);
}
.active-list-toggle-btn {
  background: var(--light-blue-color);
}
.summary-author {
  border-bottom: 1px solid var(--black-color);
  font-weight: bold;
  font-size: 13px;
  padding: 10px;
  background: var(--light-blue-color);
  color: var(--black-color);
}
.summary-bottom-container {
  padding: 10px;
  display: flex;
  align-items: center;
}
.summary-avatar-container {
  width: calc(30% - 1px);
  display: inline-block;
  border-right: 1px solid var(--black-color);
}
.avatar {
  height: 100px;
  width: 100px;
  display: block;
  margin: 0 auto;
}
.avatar-small {
  height: 50px;
  width: 50px;
}
.avatar-xs {
  height: 30px;
  width: 30px;
}
.summary-question-link-container {
  width: calc(70% - 10px);
  display: inline-block;
  margin-left: 10px;
}
.view-full-btn {
  border: 1px solid var(--black-color);
  border-radius: var(--br);
  height: 30px;
  width: 90%;
  margin: 5px auto;
  display: block;
}
.would-you-rather {
  font-weight: bold;
  font-size: 12px;
  margin: 2px 0;
}
.wyr-question-partial {
  font-size: 12px;
  margin: 8px 0;
}
.result-container {
  border: 1px solid var(--black-color);
  border-radius: var(--br);
  margin: 5px 0;
  position: relative;
}
.results-header {
  margin: 0;
}
.your-vote {
  border: 1px solid var(--prussian-blue-color);
  border-radius: 25px;
  width: 30px;
  position: absolute;
  right: -10px;
  top: -10px;
  background: var(--prussian-blue-color);
  color: var(--white-color);
  font-size: 12px;
  padding: 5px;
}
.progress-container {
  padding: 0 15px;
}
progress {
  text-align: center;
  height: 1.5em;
  width: 100%;
  -webkit-appearance: none;
  border: none;
  position:relative;
}
progress:before {
  content: attr(data-label);
  font-size: 0.8em;
  vertical-align: 0;
  color: var(--white-color);
  position:absolute;
  left:0;
  right:0;
}
progress::-webkit-progress-bar {
  background-color: #c9c9c9;
  border-radius: 5px;
}
progress::-webkit-progress-value {
  background-color: var(--light-blue-color);
  border-radius: 5px;
}
progress::-moz-progress-bar {
  background-color: var(--light-blue-color);
  border-radius: 5px;
}
.results-text {
  color: var(--black-color);
  font-size: 13px;
  font-weight: bold;
  padding: 5px 30px 5px 5px;
}
.result-avatar-container {
  width: calc(30% - 1px);
  display: flex;
  border-right: 1px solid var(--black-color);
  height: 200px;
  align-items: center;
}
.sm-header-text {
  font-weight: 100;
  font-size: 10px;
}
.tac {
  text-align: center;
}
.login-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.react-img {
  max-width: 100px;
  margin: 10px;
}
.signin-text {
  color: var(--cerulean-color);
  font-weight: bold;
  margin: 10px;
}
.user-select {
  width: 90%;
  margin: 10px;
}
.login-btn {
  background: var(--light-blue-color);
  width: 90%;
  margin: 10px;
  height: 30px;
  border-radius: var(--br);
}